body {
    font-family: Arial, sans-serif;
    display: flex;
    /* height: 100vh; */
    margin: 0px; /* Assign margin to the mainbody */
    border-color: black;
    border-radius: 5%;
    padding: 5%;
    background-color: antiquewhite;

}


#left-section {
flex: 8;
background-color: antiquewhite;
padding: 20px;
}

#right-section {
flex: 2;
background-color:bisque;
color:black;
/* text-align: left; */
padding: 20px;

}

img {
max-width: 100%;
border-radius: 20%;
align-content: center;
}

h1,
h2,
p {
margin: 0;
}

a {
color: black;
text-decoration: none;
}


.companyName{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.responsibilities{
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
}

.subheadline1{
    font-family: 'Times New Roman', Times, serif;
}

.description{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dates{
    font-family: Arial, Helvetica, sans-serif;
}

.imageClass{
    align-items: center;
}